@font-face {
    font-family: BYekan;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/BYekan.ttf');
    src: url('../fonts/iranyekanwebblack.ttf');
    src: url('../fonts/iranyekanwebregular.ttf');
    /* src: url('../fonts/iranyekanwebextrablack.ttf'); */
    /* src: url('../fonts/iranyekanwebbold.ttf'); */
}
